<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <%= require('!html-loader!./partials/header.html').default %>
    <main>
      <h1>This page is about</h1>
      <a href="/">Homeページへ</a>
    </main>
    <%= require('!html-loader!./partials/footer.html').default %>
      <script src="js/about.js"></script>
</body>

</html>